@media (max-width: 750px) {
    .title {
    font-size: 20px;
    line-height: 20px;
    }
    .promo {
        &__wrapper {
            min-height: 650px;}
        &__header {
            font-size: 20px;
            line-height: 20px;
            }
        &__subheader {
            font-size: 18px;
            line-height: 18px;
            }
        }
    .reviews {
        hr{
            width: 100%;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    }