.reviews {
    padding-bottom: 71px;
    hr {
        margin-top: 50px;
        width: 940px;
        background-color: #f6f6f6;
        border-bottom: none;
    }  
    &__block {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;    
    }
    &__icon {
        margin-right: 61px;
    }
    &__subheader {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        span {
            color: #646464;
            font-size: 14px;
            font-weight: 300;
        }
    }
    &__subheadertext {
        margin-top: 10px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
    }

}